* {
  margin: 0;
  padding: 0;
  font-family: 'Changa';
  box-sizing: border-box;
}

body {
  background-color: #090c16;
  color: white;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg {
  background: #252931 url('bg.gif') no-repeat center center / cover;
  background-blend-mode: overlay;
  min-height: 100vh;
  width: 100%;
  position: relative;
  max-width: 100%;
}

.logo {
  max-width: 130px;
  position: relative;
  left: 6px;
  bottom: 30px;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  font-size: large;
  position: relative;
  right: 6px;
  top: 20px;
}

.text-container {
  font-size: x-large;
  font-weight: bold;
  position: relative;
  right: 6px;
  top: 200px;
  animation: step-end;
}

.text-container h2 {
  font-size: x-large;
  position: relative;
  left: 6px;
  top: 12px;
  font-weight: lighter;
}

.social {
  margin: 0 160px;
  position: relative;
  top: 240px;
  font-size: 50px;
}

.text-container2 h1 {
  color: #f1f1f1;
  text-decoration: underline #32557f;
  margin-top: 20px;
  position: relative;
  left: 60px;
}

.text-container3 {
  margin-top: -30px;
  color: #f1f1f1;
  font-size: large;
  font-weight: 400;
  position: relative;
  left: 60px;
}

section {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#myImage {
  max-width: 300px;
  position: relative;
  left: 1050px;
  bottom: 1200px;
  object-fit: cover;
  border: 4px solid #333;
}

.projects {
  margin: 100px 0;
}

.projects h1 {
  position: relative;
  left: -10px;
  font-size: x-large;
}

.projects h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline #32557f;
  position: relative;
  right: 300px;
}

.project-card {
  display: inline-block;
  margin-right: 20px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.project-image {
  width: 100%;
  margin-bottom: 0px;
}

.project-image img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.project-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: underline #32557f;
}

.project-info p {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.project-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #7298da;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #6180c4;
}

.project-card1,
.project-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 50px;
  max-width: 400px;
  margin: 10px;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  flex: 1;
  margin: 10px;
}

.text-right {
  text-align: right;
}

footer {
  background: #252931 url('bg.gif') no-repeat center center / cover;
  background-blend-mode: overlay;
  width: 100%;
  color: rgb(255, 255, 255);
  position: relative;
  top: 1100px;
}

html {
  scroll-behavior: smooth;
}

.social2 {
  animation: SlideInAnimation ease 1s;
  animation-delay: 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  margin: 0 160px;
  position: relative;
  top: 40px;
  left: -40px;
  font-size: 50px;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1951;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Animations */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SlideInAnimation {
  0% {
    padding: 0;
    margin-top: -30px;
    opacity: 0;
    position: relative;
    right: 20px;
  }
  100% {
    padding: 0;
    margin-top: -30px;
    opacity: 1;
    position: relative;
    right: -20px;
  }
}

@keyframes JumpInAnimation {
  0% {
    opacity: 0;
    position: relative;
    bottom: 5px;
  }
  100% {
    opacity: 1;
    position: relative;
    bottom: -5px;
  }
}
